[Desktop Entry]
Encoding=UTF-8
Name=Dictionary OpenDict
Name[lt]=Žodynas „OpenDict“
Name[de]=OpenDict Wörterbuch
Name[ru]=Словарь OpenDict
Name[af]=OpenDict woordeboek
Name[sq]=Fjalori OpenDict
Name[ast]=Diccionariu OpenDict
Name[bn]=OpenDict অভিধান
Name[bs]=Rječnik OpenDict
Name[pt_BR]=Dicionário OpenDict
Name[bg]=Речник OpenDict
Name[ca]=Diccionari OpenDict
Name[ca@valencia]=Diccionari OpenDict
Name[zh_CN]=OpenDict 词典
Name[crh]=Szölük OpenDict
Name[cs]=Slovník OpenDict
Name[nl]=OpenDict woordenboek
Name[da]=Ordbogen OpenDict
Name[fr]=Dictionnaire OpenDict
Name[gl]=Dicionario OpenDict
Name[el]=Λεξικό OpenDict
Name[hu]=OpenDict szótár
Name[it]=Dizionario OpenDict
Name[ja]=OpenDict 辞書
Name[ky]=OpenDict сөздүгү
Name[ms]=Kamus OpenDict
Name[nb]=OpenDict ordbok
Name[oc]=Diccionari OpenDict
Name[pt]=Dicionário OpenDict
Name[pl]=Słownik OpenDict
Name[ro]=Dicționar OpenDict
Name[sk]=Slovník OpenDict
Name[sl]=Slovar OpenDict
Name[sv]=OpenDict ordbok
Name[tg]=Луғати OpenDict
Name[es]=Diccionario OpenDict
Name[tr]=Szölük OpenDict
Name[uk]=Словник OpenDict
Name[vi]=Từ điển OpenDict
GenericName=Dictionary OpenDict
GenericName[lt]=Žodynas „OpenDict“
GenericName[de]=OpenDict Wörterbuch
GenericName[ru]=Словарь OpenDict
GenericName[af]=OpenDict woordeboek
GenericName[sq]=Fjalori OpenDict
GenericName[ast]=Diccionariu OpenDict
GenericName[bn]=OpenDict অভিধান
GenericName[bs]=Rječnik OpenDict
GenericName[pt_BR]=Dicionário OpenDict
GenericName[bg]=Речник OpenDict
GenericName[ca]=Diccionari OpenDict
GenericName[ca@valencia]=Diccionari OpenDict
GenericName[zh_CN]=OpenDict 词典
GenericName[crh]=Szölük OpenDict
GenericName[cs]=Slovník OpenDict
GenericName[nl]=OpenDict woordenboek
GenericName[da]=Ordbogen OpenDict
GenericName[fr]=Dictionnaire OpenDict
GenericName[gl]=Dicionario OpenDict
GenericName[el]=Λεξικό OpenDict
GenericName[hu]=OpenDict szótár
GenericName[it]=Dizionario OpenDict
GenericName[ja]=OpenDict 辞書
GenericName[ky]=OpenDict сөздүгү
GenericName[ms]=Kamus OpenDict
GenericName[nb]=OpenDict ordbok
GenericName[oc]=Diccionari OpenDict
GenericName[pt]=Dicionário OpenDict
GenericName[pl]=Słownik OpenDict
GenericName[ro]=Dicționar OpenDict
GenericName[sk]=Slovník OpenDict
GenericName[sl]=Slovar OpenDict
GenericName[sv]=OpenDict ordbok
GenericName[tg]=Луғати OpenDict
GenericName[es]=Diccionario OpenDict
GenericName[tr]=Szölük OpenDict
GenericName[uk]=Словник OpenDict
GenericName[vi]=Từ điển OpenDict 
Comment=Lookup words in a local or Internet dictionary
Comment[lt]=Ieškoti žodžių kompiuterio arba Interneto žodyne
Comment[de]=Wörter in einem lokalen Wörterbuch oder im Internet nachschlagen
Comment[ru]=Поиск слов в интернет-словаре или в локальном словаре
Comment[af]=Slaan woorde na in 'n plaaslike of internasionale woordeboek
Comment[sq]=Kontrollo fjalët në një fjalor lokal ose në internet
Comment[ast]=Gueta pallabres nun diccionariu llocal o d'Internet
Comment[bn]=স্থানীয় অথবা ইন্টারনেট অভিধানে শব্দ দেখুন
Comment[bs]=Tražite riječ u u lokalnom ili mrežnom rječniku
Comment[pt_BR]=Pesquisa palavras em um dicionário local ou da internet
Comment[bg]=Търсене на думи в локален или Интернет речник
Comment[ca]=Cerqueu paraules en un diccionari local o d'Internet
Comment[ca@valencia]=Cerqueu paraules en un diccionari local o d'Internet
Comment[zh_CN]=在本地或互联网词典中查找词语
Comment[crh]=Bir yerel ya da internet sözlüğünde kelimeleri ara
Comment[cs]=Vyhledávání slov v místním nebo online slovníku
Comment[da]=Slå ord op i en lokal ordbog eller på nettet
Comment[nl]=Woorden in een lokaal woordenboek of over het internet
Comment[fi]=Etsi sanoja paikallisesta tai verkossa sijaitsevasta sanakirjasta
Comment[fr]=Chercher des mots sur un dictionnaire local ou en ligne
Comment[gl]=Busque palabras nun dicionario local ou da Internet
Comment[el]=Αναζητήστε λέξεις σε τοπικά ή διαδικτυακά λεξικά
Comment[hu]=Szavak keresése helyi vagy internetes szótárban
Comment[it]=Cerca parole in un dizionario locale o su Internet
Comment[ja]=ローカルまたはインターネット上の辞書を使って単語を検索します
Comment[ky]=Сөздөрдү сөздүктөн же интернетен издөө
Comment[ms]=Cari perkataan didalam kamus setempat atau Internet
Comment[nb]=Slå opp ord i en lokal eller nettbasert ordbok
Comment[oc]=Cercar de mots sus un diccionari local o en linha
Comment[pl]=Wyszukuje tłumaczeń w słowniku lokalnym oraz internetowym
Comment[pt]=Procurar palavras num dicionário local ou online
Comment[ro]=Căutați cuvinte într-un dicționar local sau de pe Internet
Comment[sk]=Vyhľadávanie slov v lokálnom alebo internetovom slovníku
Comment[sl]=Poiščite besede v krajevnem ali medmrežnem slovarju
Comment[es]=Busca palabras en un diccionario local o de Internet
Comment[sv]=Slå upp ord i en ordbok lokalt eller på internet
Comment[tr]=Bir yerel ya da internet sözlüğünde kelimeleri ara
Comment[uk]=Пошук слів у локальному або інтернет-словниках
Comment[vi]=Tra cứu từ với từ điển ở máy hoặc trên Internet
Exec=opendict
Icon=opendict
StartupNotify=true
Terminal=false
Type=Application
Categories=GTK;Utility;Dictionary;
