[Desktop Entry]
Encoding=UTF-8
Name=Dictionary OpenDict
Name[lt]=Žodynas „OpenDict“
Comment=Lookup words in a local or online dictionary 
Comment[lt]=Ieškoti žodžių kompiuterio ar interneto žodyne
Exec=/usr/bin/opendict
Icon=/usr/share/opendict/pixmaps/icon.ico
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Utility;

