[Desktop Entry]
Encoding=UTF-8
Name=OpenDict
Name[lt]=OpenDict
Comment=Lookup words in a local or online dictionary 
Comment[lt]=Ieškoti žodžių kompiuterio ar interneto žodyne
Exec=/usr/bin/opendict
Icon=/usr/share/opendict/pixmaps/icon-48x48.png
Terminal=false
MultipleArgs=false
Type=Application
Categories=Application;Utility;

